body {
    font-family: 'Roboto', sans-serif;
    background: url(../Imgs/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    }

a {
    color: #FFFFFF;
}


.header_container {
    max-width: 1030px;
    margin-top: 46px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    height: 61px;
}


.logo_box {
    position: relative;
}

.logo {
    color: #FFFFFF;

}

.second_logo {
    position: absolute;
    left: 0;
    top: 2;
    opacity: 0;
}

.logo:hover .second_logo,
.logo:hover {
    color: rgba(242, 101, 34, 1);
    opacity: 1;
}

.milan {
    position: absolute;
    top: 3px;
    left: 61px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.holidays {
    position: absolute;
    top: 33px;
    left: 61px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}


.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: flex-end;
}

.mail:hover {
    color: rgba(242, 101, 34, 1);
}

.tel:hover {
    color: rgba(242, 101, 34, 1);
}

.main_container {
    max-width: 1030px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 59px;
    text-align: center;
    margin-bottom: 35px;
}

.first_picture {
    position: relative;
}

.hover_menu {
    width: 300px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    bottom: 34px;
    left: 2px;
    opacity: 0;
    transition: all .5s;
}



.main_hover_from {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 11px;
    left: 21px;
}

.main_hover_price {
    color: #FFFFFF;
    position: absolute;
    top: 27px;
    left: 21px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.main_hover_details {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
top: 27px ;
left: 180px;}

.main_hover_details::after {
    content: '';
    position: absolute;
    border-width: 2px 0 0 2px ;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 3px;
    transform:rotate(135deg);
    top: 3px;
    left: 85px;
}



.first_picture:hover .hover_menu {
    opacity: 1;

}

.first_picture:hover .span_hover {
    color: #F26522;
}


.second_picture {
    position: relative;
}
.second_picture:hover .hover_menu {
    opacity: 1;
}
.second_picture:hover .span_hover {
    color: #F26522;
}

.third_picture {
    position: relative;
}
.third_picture:hover .hover_menu {
    opacity: 1;
}

.third_picture:hover .span_hover {
    color: #F26522;
}
.fourth_picture {
    position: relative;
}

.fourth_picture:hover .hover_menu {
    opacity: 1;
}

.fourth_picture:hover .span_hover {
    color: #F26522;
}
.fifth_picture {
    position: relative;
}
.fifth_picture:hover .hover_menu {
    opacity: 1;
}

.fifth_picture:hover .span_hover {
    color: #F26522;
}
.sixth_picture {
    position: relative;
}
.sixth_picture:hover .hover_menu {
    opacity: 1;
}

.sixth_picture:hover .span_hover {
    color: #F26522;
}


.main_pictures {
    margin-bottom: 20px;
    width: 300px;
    height: 220px;
}

.footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
       margin-bottom: 15px;
}